title {
    p.dotted {border-style: dotted;}
    color:aqua
}
head {
    background-color: beige;
    font-family: "Times New Roman", Times, serif;
 
}
p {
    color:cadetblue;
    font-family: "Times New Roman", Times, serif;


}
